#uploadDocLaterId{
	 font-size: 18px;
	
}
div#mainSectionId {
    padding-left: 0px;
    padding-right: 0px;
}
button.btn.btn-primary {
	width: 100%;
	height: 50px;
	background-color: #1c3367;
	color: #ffff;
	font-weight: 600;
}

div#documentUploadFormId {
    padding-bottom: 20px;
}
h1#formheadrId {
    padding-bottom: 20px;
    padding-top: 20px;
}

.ee-form-container h1 {
    font-size: 22px;
    color: #1d3367;
    font-weight: 600;
}

#columfirstId {
    display: flex;
    border: 1px solid;
    align-items: center;
    width: 50%;
    vertical-align: middle;
}
div#necessaryDocId {
	color: #1d3367;
	
}


#columSecondId {
    display: flex;
    border: 1px solid;
    align-items: center;
    border-left: 0;
    width: 50%;
   }


div#taxIdentityNoId {
    display: none;
}

div#secondTitleHeaderForm {
	background: white;
}

span#secondTitlelabel {
	color: #1d3367 !important;
}

div#firstTitleHeaderForm{
	background-color:  #1d3367 !important;
}
span#fristTitlelabel {
    color: #fff;
}
.ee-form-steps .active-step .form-step-number{
	color: #fff;
}
div#firstTitleHeaderForm::before {
	background: white !important;
}

div#firstTitleHeaderForm::After {
	background: white !important;
}

@media (max-width: 599px){
	
h1#passportDetailSectionId{
    font-size: 20px;
    color: #1d3367;
    font-weight: 500;
    margin: 0px;

}
.ee-form-container h1 {
    font-size: 22px;
    color: #1d3367;
    font-weight: 500;
    
}
div#sectionFirstId {
    margin: 12px;
}
div#passportSectionId {
    margin: 12px;
}
div#permanentSectionId {
    margin: 12px;
}
div#vatInVoiceSectionId {
    margin: 12px;
}
div#columfirstId {
    width: auto;
}
div#columSecondId {
    width: auto;
    border: 1px solid;
}
div#employeeInformationId,div#visitId,div#necessaryDocId {
    margin: 12px;
}
 p#biographPhotoId {
	color: #1d3367;
	margin-top: 10px;
}
span.checkmark {
    top: 2px !important;
    height: 20px !important;
    width: 20px !important;
}
#uploadDocLaterId {
    font-size: 16px;
    font-weight: 500;
}
h1#formheadrId {
    margin: 0px;
}
div#documentsuploadsFormId {
    margin: 12px;
}

p#paragraphPhotoId {
	color: #1d3367;
}
div#submitSectionId {
    margin: 0px;
}
div#desktopViewId {
    max-width: 86%;
}
div#monthSectionId {
    width: 100% !important;
}
div#expiryMonthSectionsId {
    width: 100% !important;
}
}

#photoModalHeader{
	display: block;
}
#my_camera > video,#my_camera > img{
	width: 100% !important;
	height:100% !important;
}
#my_camera{
	width: 100% !important;
	height:100% !important;
}

input.btn.btn-primary {
    background-color: #2b1569;
}
#modelContentId{
	background: #f0f1ed;
}
#uploadPhotoId{
	display: none;
}
#resetPhotoId{
	display: none;
}
 /* @media (max-width: 449px){
div#mainSectionId {
   max-width: 84%;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important; 
}
 div#desktopViewId {
    max-width: 85%;
}  
} 
@media (max-width: 399px){
div#lastSectionId {
	padding-left: 0px;
    padding-right: 0px;
}
}
 */

