.dataSucess {
    background: rgb(14 177 122);
    color: #fff;
    width: 250px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 16px;
    margin-left: 90px;
    display: none;
}
ul.e-visa-footer-links {
    flex-direction: row;
}
span#currentPassId {
	color: red;
	display:none;
}
span#newPassId {
	color: red;
	display:none;
}
span#confPassId {
	color: red;
	display:none;
}
#makePaymentDollerId{
	color: red; 
	font-size: 20px; 
	cursor: pointer; 
	padding-left:10px;
}
