.dataSucess {
    background: rgb(14 177 122);
    color: #fff;
    width: 250px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 16px;
    margin-left: 90px;
    display: none;
}
ul.e-visa-footer-links {
    flex-direction: row;
}
span#currentPassId {
	color: red;
	display:none;
}
span#newPassId {
	color: red;
	display:none;
}
span#confPassId {
	color: red;
	display:none;
}
#makePaymentDollerId{
	color: red; 
	font-size: 18px; 
	cursor: pointer; 
	/* padding-left:10px; */
	margin-left: 10px;
    font-weight: 600;
}
tbody#activetBody {
    line-height: 40px;
}

.account-page .applications-wrapper .my-applications .applications-table tbody tr, .feedbackPage .applications-wrapper .my-applications .applications-table tbody tr{
	    height: auto !important;
}



	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {
    


		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50% !important;
		}

		td:before {
			position: absolute;
			top: 0;
			left: 6px;
			
			padding-right: 10px;
			white-space: nowrap;
		}

	
		td:nth-of-type(1):before { content: "ID"; }
		td:nth-of-type(2):before { content: "COUNTRY"; }
		td:nth-of-type(3):before { content: "STATUS"; }
		td:nth-of-type(4):before { content: "APPLICANT"; }
		td:nth-of-type(5):before { content: "DATE"; }
		td:nth-of-type(6):before { content: "ACTIONS"; }
		
		td:nth-last-child(1) {
    text-align: unset !important;
}

		
	}
	
@media (min-width: 599px) and (max-width: 1024px) {
	.input-box-bottom.button-container.button-container-open{
		margin-top: 30px;
	}

}
	
	
