@charset "UTF-8";


p.description-steps-eta-planning {
	font-size: 18px !important;
	color: #1d3367 !important;
	text-align: start !important;
	margin-left: 0px !important;
   
}
section.gallery-big.padding-rwd {
    margin: 50px 0px 0px 0px;
}
ul.toggle-box {
    margin-right: 50px;
    margin-left: 50px;
}




.cookie-info-text {
	color: #969696;
}

.toggle-box .toggle-li ul {
	font-size: 16px;
	list-style: disc;
}

.toggle-box .toggle-li ul li {
	border-bottom: none;
	padding: 0px
}
.application-status.subsequent {
    border-bottom: 1px solid #2b1569;
}
.status-title > a{
	color: #2b1569;
	
}

#applyhere {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 70px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	-webkit-border-radius: 10px;
	text-decoration: none;
	-webkit-animation: glowing 1500ms infinite;
	-moz-animation: glowing 1500ms infinite;
	-o-animation: glowing 1500ms infinite;
	animation: glowing 1500ms infinite;
}

.formdetails {
    text-align: start;
    font-size: 18px;
    color: #1d3367;
    padding-left: 50px;
    padding-right: 50px;
}
.status-title.active img {
    transform: rotate(180deg);
}

#formprocesslist{
    margin-left: 60px;
    margin-right: 60px;
    color: #1d3367;
    }
    
    .imponotice {
    color: #1d3367;
    font-size: 18px;
    text-align: start;
    margin-left: 50px;
}

.pymnetprocessing {
    color: #1d3367;
    font-size: 18px;
    text-align: start;
    margin-left: 50px;
    padding-bottom: 50px;
}
#imponoticevisa{
	color: #1d3367;
    font-size: 18px;
    text-align: start;
	list-style-type: initial !important;
    padding-bottom: 50px;
}
.listofports{
 color: #1d3367;
    font-size: 18px;
    text-align: start;
    margin-left: 50px;
   
}
.description-steps-h3 {
    color: #1d3367;
    text-align: center;
}
ul#transieninfo {
    color: #1d3367;
    margin-left: 50px;
    margin-right: 50px;
}
ul#formprocesslist {
    list-style-type: initial;
}
#airports{
    margin-right: 30px;
     margin-left: 30px;
     color: #1d3367;
     padding-bottom: 50px;
}
ul {
    list-style-type: none;
}
.toggle-click-closed{
	color: rgb(29 51 103);
}


}

.description-steps-text-main {
	color: #1d3367;
	margin-top: 10px;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
}

span.description-steps-text-bottom {
	color: #1d3367;
	padding-bottom: 10px;
}

#stepscolumn {
	border: 1px;
	box-shadow: 0px 0px 10px;
	margin: 0px 10px;
	display: inline-grid;
}

.step-icon.step-icon-1 {
	margin-bottom: 15px;
	margin-top: 15px;
}

.step-icon.step-icon-2 {
	margin-bottom: 15px;
	margin-top: 15px;
}

.step-icon.step-icon-3 {
	margin-bottom: 15px;
	margin-top: 15px;
}


.account-page .applications-wrapper .my-applications .my-applications-menu, .feedbackPage .applications-wrapper .my-applications .my-applications-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.account-page .applications-wrapper .my-applications .my-applications-menu li a.active, .feedbackPage .applications-wrapper .my-applications .my-applications-menu li a.active {
    background: #1c3367;
}

.account-page .applications-wrapper .my-applications .my-applications-menu li a, .feedbackPage .applications-wrapper .my-applications .my-applications-menu li a {
    display: block;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;
    background: #D8D9CF;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font: 14px KonkretGroteskPro, Fallback, sans-serif;
    font-weight: 700;
}

.account-page .applications-wrapper .my-applications .applications-table, .feedbackPage .applications-wrapper .my-applications .applications-table {
    width: 100%;
    border: 1px solid #7C152A;
    font-family: 'Roboto', Fallback, sans-serif;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
}

.account-page .applications-wrapper .my-applications .applications-table td:first-child, .account-page .applications-wrapper .my-applications .applications-table th:first-child, .feedbackPage .applications-wrapper .my-applications .applications-table td:first-child, .feedbackPage .applications-wrapper .my-applications .applications-table th:first-child {
    padding-left: 20px;
}



.account-page .applications-wrapper .my-applications .applications-table td:first-child, .account-page .applications-wrapper .my-applications .applications-table th:first-child, .feedbackPage .applications-wrapper .my-applications .applications-table td:first-child, .feedbackPage .applications-wrapper .my-applications .applications-table th:first-child {
    padding-left: 20px;
}
.account-page .applications-wrapper .my-applications .applications-table th, .feedbackPage .applications-wrapper .my-applications .applications-table th {
    padding: 10px 5px;
    background: #fff;
    font-size: 12px;
    font-weight: 400;
    color: #7C152A;
}

.account-page .applications-wrapper .my-applications .applications-table th, .feedbackPage .applications-wrapper .my-applications .applications-table th {
    padding: 10px 5px;
    background: #fff;
    font-size: 12px;
    font-weight: 400;
    color: #7C152A;
}

.account-page .applications-wrapper .my-applications .applications-table th, .feedbackPage .applications-wrapper .my-applications .applications-table th {
    padding: 10px 5px;
    background: #fff;
    font-size: 12px;
    font-weight: 400;
    color: #7C152A;
}

.account-page .applications-wrapper .my-applications .applications-table tbody tr:nth-child(2n+1), .feedbackPage .applications-wrapper .my-applications .applications-table tbody tr:nth-child(2n+1) {
    background: #F0F1ED;
    /* height: 20px; */
}
.account-page .applications-wrapper .my-applications .applications-table tbody tr td.status-red, .feedbackPage .applications-wrapper .my-applications .applications-table tbody tr td.status-red {
    color: #D81E44;
}

.account-page .applications-wrapper .my-applications .applications-table tbody tr, .feedbackPage .applications-wrapper .my-applications .applications-table tbody tr {
    background: #fff;
    height: 15px;
}

.account-page .applications-wrapper .new-application .application-creator, .feedbackPage .applications-wrapper .new-application .application-creator {
    position: relative;
    display: flex;
    min-height: 400px;
    margin-bottom: 10px;
}

.account-page .applications-wrapper .new-application .application-creator .input-box-bottom.button-container.button-container-open, .feedbackPage .applications-wrapper .new-application .application-creator .input-box-bottom.button-container.button-container-open {
    min-height: 400px;
    display:block !important;
}


}
.account-page .applications-wrapper .new-application .application-creator .button-container button, .feedbackPage .applications-wrapper .new-application .application-creator .button-container button {
    height: 48px;
    padding: 12px 15px;
}

.account-page .applications-wrapper .new-application .button-container button.active, .account-page .applications-wrapper .new-application .button-container a.active, .feedbackPage .applications-wrapper .new-application .button-container button.active, .feedbackPage .applications-wrapper .new-application .button-container a.active {
    background: #1c3367;
    border-color:#1c3367;
}
.account-page .button-green, .feedbackPage .button-green {
    border: 2px solid #4C967D;
     background: #1c3367 !important;
    
}
.account-page .button-no-arrow, .feedbackPage .button-no-arrow {
    text-align: center;
    background-image: none;
    text-transform: uppercase;
}
.button-container button, .button-container a, .button-container .btn {
    display: block;
    outline: none;
    border: none;
    padding: 15px;
    width: 100%;
    background: #7C152A;
    text-align: left;
    color: #fff;
    font-family: KonkretGroteskPro, Fallback, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    background-image: url(/img/icon/16/arrow_right_white.svg);
    background-repeat: no-repeat;
    background-position: 97%;
    cursor: pointer;
}
button, input {
    overflow: visible;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}


.account-page .applications-wrapper .new-application .application-creator .application-creator-content, .feedbackPage .applications-wrapper .new-application .application-creator .application-creator-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 10;
    width: 100%;
    padding: 10px 30px 30px 30px;
    background: #fff;
    border: 1px solid #B08F6F;
}

* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.account-page, .feedbackPage {
    font-family: 'Roboto', Fallback, sans-serif;
}

.account-page .applications-wrapper .new-application .application-creator .application-creator-content header, .feedbackPage .applications-wrapper .new-application .application-creator .application-creator-content header {
    font: 500 16px 'Roboto', Fallback, sans-serif;
    margin: 10px 0;
}

.account-page .applications-wrapper .new-application .application-creator .application-creator-content .input-box, .feedbackPage .applications-wrapper .new-application .application-creator .application-creator-content .input-box {
    width: 100%;
    margin: 0;
}
.input-box {
    margin-left: 64px;
    margin-bottom: 32px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
}


.main-site-content{
	background:none !important;
}

.account-menu-wrapper {
    
    background-color:#1c3367;
}

.account-page .applications-wrapper .new-application .application-creator .application-creator-content .button-container button, .account-page .applications-wrapper .new-application .application-creator .application-creator-content .button-container a, .feedbackPage .applications-wrapper .new-application .application-creator .application-creator-content .button-container button, .feedbackPage .applications-wrapper .new-application .application-creator .application-creator-content .button-container a {
    margin-top: 25px;
    text-transform: uppercase;
}
.account-page .applications-wrapper .new-application .application-creator .button-container button, .feedbackPage .applications-wrapper .new-application .application-creator .button-container button {
    height: 48px;
    padding: 12px 15px;
}
.button-container .btn--disabled {
    background: #D8D9CF;
}
.button-container .btn--disabled {
    background: #D8D9CF;
}

.account-page .applications-wrapper .new-application .application-creator .application-creator-content .input-box .actual-input, .feedbackPage .applications-wrapper .new-application .application-creator .application-creator-content .input-box .actual-input {
    width: 100%;
}
.input-box .input-box-bottom .actual-input {
    width: 85%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.account-page .applications-wrapper .new-application .application-creator .application-creator-content .button-container, .feedbackPage .applications-wrapper .new-application .application-creator .application-creator-content .button-container {
    margin-bottom: 0;
}
.account-page .applications-wrapper .new-application .application-creator .application-creator-content>:last-child, .feedbackPage .applications-wrapper .new-application .application-creator .application-creator-content>:last-child {
    margin-top: auto;
}
.account-page .applications-wrapper .new-application .application-creator .button-container:not(.button-container-open), .feedbackPage .applications-wrapper .new-application .application-creator .button-container:not(.button-container-open) {
    align-self: flex-start;
}
.account-page .applications-wrapper .new-application .application-creator .button-container, .feedbackPage .applications-wrapper .new-application .application-creator .button-container {
    margin-bottom: 0;
}
.account-page .applications-wrapper .new-application .button-container, .feedbackPage .applications-wrapper .new-application .button-container {
    margin-bottom: 30px;
    flex-direction: column;
}

.account-page .applications-wrapper .my-applications .my-applications-menu li, .feedbackPage .applications-wrapper .my-applications .my-applications-menu li {
    padding: 0;
    flex: 1;
}

.account-page .mtb-30, .feedbackPage .mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.top-content-follow-card-destination {
  
    padding: 0px 0px !important;
   
}

a#countryDropDown {
    background: white;
}

#countryHref{
    background: white;
}

.top-content-follow-card-destination .drop-down .drop-down-ul .a-no-active {
    background: white;
}

ul.e-visa-footer-links {
    float: left;
    padding-left: 15px;
}


.account-page .mtb-30, .feedbackPage .mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.account-page .settings-header, .feedbackPage .settings-header {
    /* font: 26px KonkretGroteskPro, Fallback, sans-serif; */
    font-weight: 500;
    margin-bottom: 12px;
}

.account-page .settings-section, .feedbackPage .settings-section {
    width: 710px;
    border-top: 2px solid #1c3367;
    padding: 25px 0;
    display: flex;
    align-items: flex-start;
}

.account-page .settings-section .settings-icon, .feedbackPage .settings-section .settings-icon {
    width: 80px;
}

.account-page .settings-section .settings-content, .feedbackPage .settings-section .settings-content {
    width: 100%;
    display: flex;
}

.account-page .settings-section .settings-content .settings-fields, .feedbackPage .settings-section .settings-content .settings-fields {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.account-page .settings-section .settings-content .settings-fields header, .feedbackPage .settings-section .settings-content .settings-fields header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}

.account-page .settings-section .settings-content .settings-fields .input-box:last-child, .feedbackPage .settings-section .settings-content .settings-fields .input-box:last-child {
    margin-bottom: 0;
}

.account-page .settings-section .settings-content .settings-fields .input-box .input-box-top, .feedbackPage .settings-section .settings-content .settings-fields .input-box .input-box-top {
    margin-bottom: 2px;
}
.input-box .input-box-top {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.account-page .settings-section .settings-content .settings-fields .input-box .input-box-top .input-box-label, .feedbackPage .settings-section .settings-content .settings-fields .input-box .input-box-top .input-box-label {
    font-size: 12px;
}
.input-box .input-box-top .input-box-label {
    font-weight: 500;
    font-size: 16px;
}

.account-page .settings-section .settings-content .settings-fields .input-box .input-box-bottom, .feedbackPage .settings-section .settings-content .settings-fields .input-box .input-box-bottom {
    position: relative;
}
.input-box .input-box-bottom {
    display: flex;
    position: relative;
}

.account-page .settings-section .settings-content .settings-fields .input-box .input-box-bottom .actual-input, .feedbackPage .settings-section .settings-content .settings-fields .input-box .input-box-bottom .actual-input {
    width: 100%;
    flex-direction: column;
}
.input-box .input-box-bottom .actual-input {
    width: 85%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.input-box .input-box-bottom .actual-input .text-input-single {
    width: 100%;
}

.input-box .input-box-bottom .actual-input .text-input-single input {
    border: 1px solid black;
    height: 48px;
    width: 100%;
}
.input-box input {
    font-size: 16px;
    padding: 12px 16px;
    font-weight: 400;
}

.account-page .settings-section .settings-content .settings-button-wrapper, .feedbackPage .settings-section .settings-content .settings-button-wrapper {
    width: 240px;
    margin-left: 90px;
    align-self: flex-end;
}

.account-page .settings-section .input-box, .feedbackPage .settings-section .input-box {
    margin: 0;
    width: 100%;
}
.input-box {
    margin-left: 64px;
    margin-bottom: 32px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
}

.account-page .settings-section .settings-content .settings-button-wrapper .input-box .submit-input-container, .feedbackPage .settings-section .settings-content .settings-button-wrapper .input-box .submit-input-container {
    width: 100%;
    margin: 0;
}
.input-box .input-box-bottom {
    display: flex;
    position: relative;
}
.submit-input-container {
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
}

.button-container .btn--disabled {
    background: #D8D9CF;
}


.account-page .settings-section .settings-content .settings-fields .input-box, .feedbackPage .settings-section .settings-content .settings-fields .input-box {
    margin-bottom: 16px;
}
.account-page .settings-section .input-box, .feedbackPage .settings-section .input-box {
    margin: 0;
    width: 100%;
}

.submit-input-container.button-container .btn {
    width: 60%;
    text-align: center;
}


.e-visa-footer-links a {
    font: 700 14px KonkretGroteskPro, Fallback, sans-serif;
    letter-spacing: 1px;
    color: white;
}


.settings-icon img {
    border: 0;
    vertical-align: middle;
    width: 25px;
}


#showsUserSetting{
display: none;
}
.top-content-follow-card-destination .drop-down .drop-down-ul li:hover .a-no-active{
		color:black !important;
}
.main-site-content{
	height: auto;
}
ul.drop-down-ul.display-none.display-block {
    z-index: 999999;
}




.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 32px;
    padding-right: 32px;
}


.account-page .mtb-30, .feedbackPage .mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.account-page .application-view, .feedbackPage .application-view {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}


.ee-form-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
}

.account-page .application-view .application-status-container, .feedbackPage .application-view .application-status-container {
    width: 352px;
    border: 1px solid #1c3367;
}

.account-page .application-view .application-status-container .main-header, .feedbackPage .application-view .application-status-container .main-header {
    background: #1c3367;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}




.account-page .application-view .application-status-container header, .feedbackPage .application-view .application-status-container header {
    font: 14px KonkretGroteskPro, Fallback, sans-serif;
    font-weight: 700;
}


.account-page .application-view .application-status-container .application-status:not(.subsequent):last-child, .feedbackPage .application-view .application-status-container .application-status:not(.subsequent):last-child {
    border-bottom: 1px solid #1c3367;
}
.account-page .application-view .application-status-container .statuses-expandable .application-status, .feedbackPage .application-view .application-status-container .statuses-expandable .application-status {
    overflow: hidden;
}

.account-page .application-view .application-status-container .application-status, .feedbackPage .application-view .application-status-container .application-status {
    display: flex;
    flex-direction: column;
    padding: 0;
    background: #fff;
}	


.account-page .application-view .application-status-container .application-status .status-title, .feedbackPage .application-view .application-status-container .application-status .status-title {
    background-color: #F0F1ED;
    width: 100%;
    min-height: 58px;
    padding: 18px 42px;
    cursor: pointer;
}

.account-page .application-view .application-status-container .statuses-expandable .application-status.expanded:not(:last-child) .status-title img, .account-page .application-view .application-status-container .statuses-expandable .application-status:not(.expanded):last-child .status-title img, .feedbackPage .application-view .application-status-container .statuses-expandable .application-status.expanded:not(:last-child) .status-title img, .feedbackPage .application-view .application-status-container .statuses-expandable .application-status:not(.expanded):last-child .status-title img {
    transform: rotate(
180deg
);
}

.account-page .application-view .application-status-container .application-status:not(.subsequent) .status-title img, .feedbackPage .application-view .application-status-container .application-status:not(.subsequent) .status-title img {
    transition: transform 500ms ease-in-out;
}
img {
    border: 0;
    vertical-align: middle;
}
.account-page .application-view .application-status-container .application-status .status-title header, .feedbackPage .application-view .application-status-container .application-status .status-title header {
    padding-left: 39px;
    display: inline-block;
}


.account-page .application-view .application-status-container .application-status:not(.subsequent) header, .feedbackPage .application-view .application-status-container .application-status:not(.subsequent) header {
    color: #1c3367;
}

.account-page .application-view .application-status-container .application-status header, .feedbackPage .application-view .application-status-container .application-status header {
    text-transform: uppercase;
}

.account-page .application-view .application-status-container header, .feedbackPage .application-view .application-status-container header {
    font: 14px KonkretGroteskPro, Fallback, sans-serif;
    font-weight: 700;
}

.account-page .application-view .application-status-container .application-status .status-content p, .feedbackPage .application-view .application-status-container .application-status .status-content p {
    margin: 12px 0 0 0;
    font: 500 12px Roboto;
    color: #231f20;
}


.account-page .application-view .application-status-container .statuses-expandable .application-status p, .feedbackPage .application-view .application-status-container .statuses-expandable .application-status p {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.account-page .application-view .application-status-container .application-status .status-content div:not(.img-wrapper), .feedbackPage .application-view .application-status-container .application-status .status-content div:not(.img-wrapper) {
    padding: 20px 67px 20px 0;
    width: calc(100% - 94px);
}


.account-page .application-view .application-information, .feedbackPage .application-view .application-information {
    margin-left: 52px;
    width: 700px;
}

.account-page .application-view .application-information .visa-information, .feedbackPage .application-view .application-information .visa-information {
    border: 1px solid #1c3367;
}

.account-page .application-view .application-information .visa-information header, .feedbackPage .application-view .application-information .visa-information header {
    background: #1c3367;
    padding: 15px 20px;
    color: #fff;
}

.account-page .application-view .application-information .visa-information .information-content, .feedbackPage .application-view .application-information .visa-information .information-content {
    padding: 32px 0;
    display: flex;
    justify-content: space-around;
}


.account-page .application-view .application-information .visa-information .information-content .information-data, .feedbackPage .application-view .application-information .visa-information .information-content .information-data {
    width: 273px;
}

.account-page .application-view .application-information .visa-information .information-content .information-data .data-row, .feedbackPage .application-view .application-information .visa-information .information-content .information-data .data-row {
    font-size: 16px;
    margin: 7px 0;
}

.account-page .application-view .application-information .visa-information .information-content .information-data .data-row span, .feedbackPage .application-view .application-information .visa-information .information-content .information-data .data-row span {
    font-weight: 700;
}

.account-page .application-view .application-information .visa-information .information-content .information-navigation, .feedbackPage .application-view .application-information .visa-information .information-content .information-navigation {
    width: 273px;
}

.account-page .application-view .application-information .visa-information .information-content .information-navigation .phone, .feedbackPage .application-view .application-information .visa-information .information-content .information-navigation .phone {
    font-size: 22px;
    font-weight: 500;
}

.font-burgund {
    color: #7C152A;
}

.account-page .application-view .application-information .visa-information .information-content .information-navigation .phone p, .feedbackPage .application-view .application-information .visa-information .information-content .information-navigation .phone p {
    margin: 10px 0 18px 0;
    font-size: 14px;
    font-weight: 400;
}

.account-page .application-view .application-information .visa-information .information-content .information-navigation .button-container:not(:first-child), .feedbackPage .application-view .application-information .visa-information .information-content .information-navigation .button-container:not(:first-child) {
    margin-top: 10px;
}

.account-page .button-green, .feedbackPage .button-green {
    border: 2px solid #4C967D;
    background: #4C967D;
}

.account-page .button-no-arrow, .feedbackPage .button-no-arrow {
    text-align: center;
    background-image: none;
    text-transform: uppercase;
}

.application-faq {
    display: none;
}


.account-page .application-view .application-status-container .application-status:not(.subsequent) .status-content, .feedbackPage .application-view .application-status-container .application-status:not(.subsequent) .status-content {
    transition: border-top 500ms ease-in-out;
    border-top: 1px solid #1c3367;
    border-bottom: 1px solid #1c3367;
}
.application-status.expanded {
    border-bottom: 1px solid #1c3367;
}

.account-page .application-view .application-status-container .application-status .status-content, .feedbackPage .application-view .application-status-container .application-status .status-content {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.status-icon{
	width: 60px;
	height: 60px;
	
}
.account-page .application-view .application-status-container .application-status .status-content .img-wrapper, .feedbackPage .application-view .application-status-container .application-status .status-content .img-wrapper {
    width: 80px;
    height: 100%;
    padding: 20px 0;
}

.account-page .application-view .application-status-container .application-status .img-wrapper, .feedbackPage .application-view .application-status-container .application-status .img-wrapper {
    width: 54px;
    box-sizing: content-box;
    margin: 0 20px;
}

.account-page .application-view .application-status-container .application-status .status-content div:not(.img-wrapper), .feedbackPage .application-view .application-status-container .application-status .status-content div:not(.img-wrapper) {
    padding: 20px 67px 20px 0;
    width: calc(100% - 94px);
}

.account-page .application-view .application-status-container .application-status:not(.subsequent) header, .feedbackPage .application-view .application-status-container .application-status:not(.subsequent) header {
    color: #1c3367;
}
.account-page .application-view .application-status-container .application-status header, .feedbackPage .application-view .application-status-container .application-status header {
    text-transform: uppercase;
}

.account-page .application-view .application-status-container header, .feedbackPage .application-view .application-status-container header {
    font: 14px KonkretGroteskPro, Fallback, sans-serif;
    font-weight: 700;
}

.account-page .application-view .application-status-container .application-status .status-content p, .feedbackPage .application-view .application-status-container .application-status .status-content p {
    margin: 12px 0 0 0;
    font: 500 12px Roboto;
    color: #231f20;
}

.account-page .application-view .application-status-container .statuses-expandable .application-status p, .feedbackPage .application-view .application-status-container .statuses-expandable .application-status p {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}


#cusorEvent {
    cursor: pointer;
    color: #1c3367 !important;
}


.status-title{
	
	color: #1c3367 !important;
}





@media ( min-width : 599px) {
	background-image: url('/images/background 2.jpg');
	
}

@media ( min-width : 1330px) {
section#onlineapplysection {
    margin-left: 60px;
    margin-right: 60px;
 }
	
}

@media (min-width: 600px){
	.top-content-follow-card-destination {
    width: 100% !important;
}
}

@media (max-width: 599px){
.top-content-follow-card-destination {
    width: 100% !important;
   
}
.button-no-arrow.button-green {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: -25%;
    padding-bottom: 7px;
    padding-top: 7px;
    
}
ul.e-visa-footer-links {
    padding-left: 16%;
}
.information-data {
    padding-left: 13px;
}
.account-page .application-view .application-information .visa-information .information-content, .feedbackPage .application-view .application-information .visa-information .information-content {
    padding: 32px 0;
        display: grid;
   justify-content: space-around;
}
}
@media screen and (max-width: 768px){

    .account-page .settings-section .settings-content {
    flex-direction: column;
}

.account-page .application-view .application-information .visa-information .information-content .information-navigation, .feedbackPage .application-view .application-information .visa-information .information-content .information-navigation {
    width: 215px;
}
   .account-page .settings-section .settings-content .settings-button-wrapper {
    width: 300px;
    align-self: flex-start;
    margin: 30px 0 0 0;
}



    .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}


    .account-page .settings-section .settings-content {
    flex-direction: column;
}


    .account-page .settings-section .settings-content .settings-button-wrapper {
    width: 300px;
    align-self: flex-start;
    margin: 30px 0 0 0;
}


    .account-page .settings-section .settings-content {
    flex-direction: column;
}

 .account-page .settings-section .settings-content .settings-button-wrapper {
    width: 300px;
    align-self: flex-start;
    margin: 30px 0 0 0;
}

.account-page .application-view .application-status-container, .feedbackPage .application-view .application-status-container {
    width: 100%;
    
    margin-bottom: 30px;
    
}

.account-page .application-view .application-information, .feedbackPage .application-view .application-information {
    margin-left: 0px !important;
   
}



.account-page .application-view .application-information, .feedbackPage .application-view .application-information {
   
    width: 100%;
}

.account-page .application-view .application-information .visa-information .information-content .information-navigation, .feedbackPage .application-view .application-information .visa-information .information-content .information-navigation {
    width: 215px;
}


}


@media screen and (max-width: 400px){

    .account-page .settings-section .settings-icon, .feedbackPage .settings-section .settings-icon {
    width: 40px;
    margin-right: 10px;
}

.second-list, .e-visa-footer-links, .e-visa-logo-container {
    flex-direction: column  !important;
    align-items: center;
}
}


@media screen and (max-width: 425px){
    .submit-input-container.button-container {
    display: flex;
    flex-direction: column !important;
}

    .submit-input-container.button-container .btn {
    width: 100%;
}

.second-list, .e-visa-footer-links, .e-visa-logo-container {
    flex-direction: column !important;
    align-items: center;
}
}

@media screen and (max-width: 710px){
    .account-page .settings-section {
    width: 100%;
}
}

@media screen and (max-width: 650px){
    .account-page .account-menu-wrapper .e-visa-footer-links {
    text-align: left;
    justify-content: flex-start;
    margin: 0 0 12px 0;
}
}
@media screen and (max-width: 460px){
    .account-page .account-menu-wrapper .e-visa-footer-links li {
    margin-right: 0;
    padding-left: 15px;
}

.second-list, .e-visa-footer-links, .e-visa-logo-container {
    flex-direction: column;
    align-items: center;
}
}

@media (max-width: 799px){
	
.account-page .application-view .application-status-container, .feedbackPage .application-view .application-status-container {
    width: 100%;
    
    margin-bottom: 30px;
    
}

.account-page .application-view .application-information, .feedbackPage .application-view .application-information {
    margin-left: 0px !important;
   
}



.account-page .application-view .application-information, .feedbackPage .application-view .application-information {
   
    width: 100%;
}

.account-page .application-view .application-information .visa-information .information-content .information-navigation, .feedbackPage .application-view .application-information .visa-information .information-content .information-navigation {
    width: 215px;
}

}



@media (max-width: 999px){
	
.account-page .application-view .application-status-container, .feedbackPage .application-view .application-status-container {
    width: 100%;
    
    margin-bottom: 30px;
    
}

.account-page .application-view .application-information, .feedbackPage .application-view .application-information {
    margin-left: 0px !important;
   
}



.account-page .application-view .application-information, .feedbackPage .application-view .application-information {
   
    width: 100%;
}

}


@media (max-width: 1199px){
	
.account-page .application-view .application-status-container, .feedbackPage .application-view .application-status-container {
    width: 100%;
    
    margin-bottom: 30px;
    
}

.account-page .application-view .application-information, .feedbackPage .application-view .application-information {
    margin-left: 0px !important;
   
}



.account-page .application-view .application-information, .feedbackPage .application-view .application-information {
   
    width: 100%;
}

}


@media (max-width: 599px){

	.account-page .application-view .application-information .visa-information .information-content .information-navigation, .feedbackPage .application-view .application-information .visa-information .information-content .information-navigation {
    width: 215px !important;
      
    margin-right: 10px;
}
}

@media (max-width: 699px){

	.account-page .application-view .application-information .visa-information .information-content .information-navigation, .feedbackPage .application-view .application-information .visa-information .information-content .information-navigation {
    width: 215px !important;
      
    margin-right: 10px;
}
}
	



@media (max-width: 991px){
	
	
	.second-list, .e-visa-footer-links, .e-visa-logo-container {
    flex-direction: row;
    align-items: center;
}
}






